[book]
authors = ["Linera"]
language = "en"
multilingual = false
src = "src"
description = "The Linera Developer Manual"

[output.html]
default-theme = "Light"
default-dark-theme = "Ayu"
additional-css = ["theme/theme.css"]
additional-js = ["custom.js"]
git-repository-url = "https://github.com/linera-io/linera-documentation"
git-repository-icon = "fa-github"
edit-url-template = "https://github.com/linera-io/linera-documentation/edit/main/{path}"

[output.html.fold]
enable = true
level = 1

[output.html.playground]
runnable = false

[output.html.redirect]
"/overview.html" = "/developers/core_concepts/overview.html"
"/core_concepts/microchains.html" = "/developers/core_concepts/microchains.html"

[output.linkcheck]
optional = true
follow-web-links = true
exclude = [ 'x\.com', 'crates\.io' ]

[build]
build-dir = "book"
create-missing = false
use-default-preprocessors = true
extra-watch-dirs = ["linera-protocol/"]
