[book]
authors = ["Linera"]
language = "en"
multilingual = false
src = "src"
description = "The Linera Developer Manual"

[output.html]
default-theme = "Light"
default-dark-theme = "Ayu"
additional-js = ["custom.js"]

[output.html.fold]
enable = true
level = 0

[output.html.playground]
runnable = false

[output.html.redirect]
"/overview.html" = "/core_concepts/overview.html"

[output.linkcheck]

[build]
build-dir = "book"
create-missing = false
use-default-preprocessors = true
extra-watch-dirs = ["linera-protocol/"]
