@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* General Styling */
body {
    font-family: 'Inter', sans-serif; /* Set Inter as the default font */
    margin: 0;
    padding: 0;
}

/* Code Elements */
.hljs {
    font-family: "IBM Plex Mono", "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace !important;
    overflow-x: auto;
    border-radius: 10px;
    padding: 0.5em;
    margin: 1em 0;
}

/* Links in Code Elements */
.hljs a, a:visited {
    font-weight: bold !important;
    text-decoration: underline !important;
}

/* Highlighted Keywords */
.hljs-keyword {
    font-weight: bold; /* Emphasize keywords */
}

/* Highlighted Keywords */
.hljs-built_in, .hljs-literal, .hljs-string {
    font-weight: bold; /* Emphasize keywords */
}

/* Highlighted Titles */
.hljs-title {
    font-weight: bold; /* Optional: Bold titles */
}

/* Navigation & Links */
.sidebar .chapter li a {
    text-decoration: none;
}

.sidebar .chapter li a.active {
    font-weight: bold;
}

/* Navigation Bar (Using Primary) */
.sidebar {
    padding: 1em;
}

/* Blockquote Styling */
blockquote {
    border-block-start: none !important;
    border-block-end: none !important;
    margin: 1em 0;
    border-left: 0px solid var(--color-accent-blue);
    border-radius: 15px; /* Rounded corners */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Links in Blockquotes */
blockquote a, blockquote a:visited {
    font-weight: bold !important; /* Make links bold */
}

blockquote a:hover {
    text-decoration: underline; /* Keep underlined on hover */
    text-decoration-thickness: 2px; /* Optional: Thicker underline on hover */
}
