name: Build and deploy GH Pages

# On every push this script is executed
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: 'Setup mdbook'
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.4.48'

      - name: 'Install mdbook linkcheck'
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: mdbook-linkcheck@0.7.7

      - name: 'Install mdbook mermaid'
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: mdbook-mermaid@0.15.0

      - name: 'Install mdbook admonish'
        uses: taiki-e/cache-cargo-install-action@v2
        with:
          tool: mdbook-admonish@1.19.0

      - name: 'Build mdbook'
        run: |
          cd linera-protocol/mdbook
          mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: linera-protocol/mdbook/book/html
          cname: linera.dev
